/*cliboard admin css*/
table.clip td {
    border: 1px solid;
    padding: 15px;
    text-align: center;
}
p.data-demo {
    text-align: left;
    font-weight: 700;
}h2.title-clipboard {
    text-transform: uppercase;
    text-align: center;
    padding-top: 1em;
}
table.clip {
    margin: 0 auto;
}
p.authors {
    text-align: center;
}